@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("Index/NavList")
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="col-md-12 panel-heading well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="navbar-form navbar-left">
                                <a href="#">Профиль</a>
                            </form>
                            <form class="navbar-form navbar-right">
                                <a href="#"> <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span></a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @Html.Partial("Index/Profile")
                </div>
            </div>

            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    60%
                </div>
            </div>
            <!--на кого подписан-->
            <div class="panel panel-default filter-content">
                <div class="panel-heading well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="navbar-form navbar-left">
                                <a href="#">Владельцы источников данных</a>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Фильтр:
                        </div>
                        <div class="col-md-9">
                            <div class="btn-group btn-group-xs filter-buttons" role="toolbar">

                                <button class="btn btn-info" data-filter="*">все</button>
                                <button class="btn btn-info" data-filter=".iot">IoT</button>
                                <button class="btn btn-info" data-filter=".sql">SQL</button>
                                <button class="btn btn-info" data-filter=".web">Web</button>
                                <button class="btn btn-info" data-filter=".mob">Mob</button>
                            </div>
                        </div>
                    </div>
                    <!--                <div class="row">
                                            <div class="col-lg-3">
                                                Сортировка:
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="btn-group btn-group-xs btn-group-justified filters-button-group" role="group" aria-label="btn-group-owners">
                                                    <button type="button" class="btn btn-info" data-filter=".iot">Фамилия</button>
                                                    <button type="button" class="btn btn-info" data-filter=".web">Логин</button>
                                                    <button type="button" class="btn btn-info" data-filter=".sql">Рег.ID</button>
                                                </div>
                                            </div>
                                        </div>
                    -->
                </div>
                <div class="panel-body">
                    @Html.Partial("Index/Owners")
                </div>
            </div>
            <!--"друзья"-->
            <div class="panel panel-default filter-content">
                <div class="panel-heading well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="navbar-form navbar-left">
                                <a href="#">Пользователи</a>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Фильтр:
                        </div>
                        <div class="col-md-9">
                            <div class="btn-group btn-group-xs filter-buttons" role="toolbar">

                                <button class="btn btn-info" data-filter="*">все</button>
                                <button class="btn btn-info" data-filter=".iot">IoT</button>
                                <button class="btn btn-info" data-filter=".sql">SQL</button>
                                <button class="btn btn-info" data-filter=".web">Web</button>
                                <button class="btn btn-info" data-filter=".mob">Mob</button>
                            </div>
                        </div>
                    </div>
                    <!--                <div class="row">
                                            <div class="col-lg-3">
                                                Сортировка:
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="btn-group btn-group-xs btn-group-justified filters-button-group" role="group" aria-label="btn-group-owners">
                                                    <button type="button" class="btn btn-info" data-filter=".iot">Фамилия</button>
                                                    <button type="button" class="btn btn-info" data-filter=".web">Логин</button>
                                                    <button type="button" class="btn btn-info" data-filter=".sql">Рег.ID</button>
                                                </div>
                                            </div>
                                        </div>
                    -->
                </div>

                <div class="panel-body">
                    @Html.Partial("Index/Users")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="navbar-form navbar-left">
                                <a href="#">Контактные данные</a>
                            </form>
                            <form class="navbar-form navbar-right">
                                <a href="#"> <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span></a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                   @Html.Partial("Index/ContactInfo")
                </div>
            </div>
            <div class="panel panel-default filter-content">
                <div class="panel-heading well well-sm">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="navbar-form navbar-left">
                                <a href="#">Источники данных</a>
                            </form>
                            <form class="navbar-form navbar-right">
                                <a href="#"> <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span></a>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Фильтр:
                        </div>
                        <div class="col-md-9">
                            <div class="btn-group btn-group-xs filter-buttons" role="toolbar">

                                <button class="btn btn-info" data-filter="*">все</button>
                                <button class="btn btn-info" data-filter=".iot">IoT</button>
                                <button class="btn btn-info" data-filter=".sql">SQL</button>
                                <button class="btn btn-info" data-filter=".web">Web</button>
                                <button class="btn btn-info" data-filter=".mob">Mob</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                   @Html.Partial("Index/DataSources")
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading well well-sm">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="navbar-form navbar-left">
                                <a href="#">Лента подписанных ресурсов</a>
                            </form>
                            <form class="navbar-form navbar-right">
                                <a href="#"> <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span></a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @Html.Partial("Index/ResFeed")
                </div>
            </div>
        </div>
    </div>
